@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  font-family: "Poppins", sans-serif;
  color: #171717;
  font-size: 16px;
  scroll-behavior: smooth;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
    color: #ffff;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    color: #0b6e4f;
  }
}

.animate-fadeInUp {
  animation: fadeInUp 2s ease-out;
}


